.login-container{
    display: flex;
    justify-content: end;
    margin-top: 4rem;
    margin-right: 35rem;
}
.container1 {
    display:flex;
    justify-content: center;
    align-items: center;
    height:50vh;
    width:26vw;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    border-radius: 5px;
    gap: 1rem;
    margin-top: 78px;
    padding: 20px;
    background-color:#0a4870;
} 

.container1 h3{
    color:white;
    font-size: 2rem;
}
.name-input1
{
    width: 70%;
    padding: 1rem;
    border: 2x solid #0a4870;
    font-weight:100;
}
.button-input1
{
    background-color:#0a4870;
   width: 80%;
   padding: 0.6rem;
   border: none;
   font-size: 1.5rem;
   outline: none;
   border-radius: 5rem;
   font-weight:100;
   color: white;
}
.sig{
    color: white;
}
.signup{
    text-decoration:underline;
}
.catimg{
    height: 5%;
    width: 5%;
}
.shadow1
{
    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.138),
    6.7px 6.7px 5.3px rgba(154, 222, 235, 0.198),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.245),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.292),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.352),
    100px 100px 80px rgba(0, 0, 0, 0.49)
;
}
.cancel-link{
    color: #0a4870;
    text-decoration: none;
    font-size: 1.4rem;
    margin-top: -29px;
    margin-left: 23.8rem;
}


